.cxFont {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased
}

.cxWidgetButtonOpen {
    -webkit-font-smoothing: antialiased;
    max-height: 60px;
    max-width: 60px;
    width: 60px;
    height: 60px;
    background-color: #009790;
    transform: rotate(0deg);
    transition: transform 0.16s linear 0s, opacity 0.08s linear 0s;
    border-radius: 40%;
    position: absolute;
    bottom: 40px;
    left: 40px;
    top: auto;
    right: auto;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.51);
}

.cxWidgetButtonOpen:hover {
    background-color: #d8006c;
    transform: rotate(0deg);
    transition: transform 0.16s linear 0s, opacity 0.08s linear 0s;
    border-radius: 40%;
    transform: scale(1.3);
}

.cxWidgetButtonClose {
    -webkit-font-smoothing: antialiased;
    max-height: 60px;
    max-width: 60px;
    width: 60px;
    height: 60px;
    background-color: #009790;
    transform: rotate(0deg);
    transition: transform 0.16s linear 0s, opacity 0.08s linear 0s;
    border-radius: 40%;
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: none;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.51);
}

.cxWidgetButtonClose:hover {
    background-color: #d8006c;
    transform: rotate(0deg);
    transition: transform 0.16s linear 0s, opacity 0.08s linear 0s;
    border-radius: 40%;
    transform: scale(1.3);
}

.cxWidgetButton {
    -webkit-font-smoothing: antialiased;
    max-height: 64px;
    max-width: 64px;
    width: 64px;
    height: 64px;
    transition: transform 0.16s linear 0s, opacity 0.08s linear 0s;
    border-radius: 50%;
    border: 0px;
    /* position: absolute; */
    /* top: 50px;
    left: 65px; */
    /* box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.51); */
}

.cxWidgetButtonKeypad {
    background-color: #d2d2d2;
    font-size: x-large;
    color: #000000;
}

.cxWidgetButtonKeypad:hover {
    background-color: #8ca1df;
    color: #ffffff;
}

.cxWidgetButtonCall {
    background-color: #009790;
    transform: rotate(0deg);
}

.cxWidgetButtonCall:hover {
    background-color: #33c118;
    transform: rotate(0deg);
}

.cxWidgetButtonCallConnected {
    background-color: #009790;
    transform: rotate(0deg);
    display: none;
}

.cxWidgetButtonCallConnected:hover {
    background-color: #c80400;
    transform: rotate(90deg);
    display: none
}

.cxWidgetButtonCallConnecting1 {
    background-color: #c9c619;
    transform: rotate(-0.01turn);
    display: none;
}

.cxWidgetButtonCallConnecting1:hover {
    background-color: #c80400;
}

.cxWidgetButtonCallConnecting2 {
    background-color: #c9c619;
    transform: rotate(0.01turn);
    display: none;
}

.cxWidgetButtonCallConnecting2:hover {
    background-color: #c80400;
}

.cxWidgetActivity {
    position: absolute;
    bottom: 25px;
    left: 75px;
    right: auto;
    top: auto;
    max-width: 75%;
    max-height: 80%;
    width: 75%;
    height: 100%;
    display: none;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}

.cxWidgetActivityTitle {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #bbbbbb;
    /* opacity: 0.90; */
    max-width: 330px;
    margin-bottom: auto;
    max-height: 14%;
    width: 100%;
    line-height: 48px;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
}

.cxWidgetActivityLogo {
    height: 42px;
    padding-left: 10px;
    padding-top: 11px;
}

.cxWidgetActivityTitleText {
    float: right;
    padding-top: 6px;
    padding-right: 5px;
    font-size: 14px;
    text-align: center;
    width: 80%;
}

.cxWidgetActivityContent {
    position: absolute;
    background-color: #eaeaea;
    /* opacity: 0.90; */
    max-height: 80%;
    top: 64px;
    width: 100%;
    height: 100%;
    /* vertical-align: 50%; */
    /* text-align: center; */
    border-radius: 0px;
    -moz-border-radius: 0px;
    margin-top: auto;
    margin-bottom: auto;
}

.cxWidgetActivityContentUI {
    width: 100%;
    height: 100%;
    float: none;
}

.cxWidgetCallStatus {
    text-align: center;
    font-weight: 200;
}

.cxWidgetActivityFooter {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #bbbbbb;
    opacity: 0.90;
    /* max-width: 330px; */
    max-height: 8%;
    /* max-width: 100%; */
    width: 100%;
    /* padding: 5px; */
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
}

.cxWidgetActivityFooter a {
    text-decoration: none;
    color: white;
}

.cxWidgetActivityFooter a:hover {
    color: yellow;
}

.cxWidgetActivityKeypad {
    width: 94%;
    height: 94%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 10px;
    border-color: #000000;
}

.cxWidgetActivityKeypadBody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.cxWidgetActivityKeypadRow {
    display: table-row;
    vertical-align: middle;
}

.cxWidgetActivityKeypadCell {
    display: table-cell;
    text-align: center;
    font-weight: 300;
    font-size: larger;
    max-width: 64px !important;
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?4rvg2o');
    src:  url('fonts/icomoon.eot?4rvg2o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4rvg2o') format('truetype'),
    url('fonts/icomoon.woff?4rvg2o') format('woff'),
    url('fonts/icomoon.svg?4rvg2o#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-github-square:before {
    content: "\f092";
}
.icon-github:before {
    content: "\f09b";
}
.icon-github-alt:before {
    content: "\f113";
}